{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfoio Details</h2>
          <ol>
            <li><a href="{% url 'main' %}">Bosh sahifa</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/Asset 1.png' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/math.png' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/kimyo.png' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Proyekt haqida ma'lumot</h3>
              <ul>
                <li><strong>Yo'nalish</strong>: Grafik dizayn</li>
                <li><strong>Mijoz</strong>: Nurli kelajak</li>
                <li><strong>Proyekt vaqti</strong>: 9-sentabr, 2023</li>
                <li><strong>Proyekt manzili</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Bu yerda ijtimoiy tarmoqlar uchun ishlangan postlar haqida to'liq ma'lumot oling</h2>
              <p>
                Mijoz tomonida berilgan shart yuzasidan tayyorlangan ijtimoiy tarmoq uchun 1080x1080 o'lchamli post
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
</body>
</html>